body {
   background-image: linear-gradient(to left,rgb(219, 194, 47),rgb(35, 202, 58));
    font-style: italic;
    padding: 30px;
}
img {
    width: 10%;
    padding: 15px;
}
.nav{
    display: flex;
    grid-template-columns: 40% 50%;
    float: right;
    text-decoration: none;
    justify-content: end;
    padding-right: 40px;
}
a{
    text-decoration: none;
    grid-template-columns:50% 50%;

}
.nav li{
    list-style: none;
    justify-content: space-around;
    padding-right: 90px;
    text-decoration: none;
}