img {
    padding: 5px 75px;
    width: 40%;
}
.nav{
    display: flex;
    grid-template-columns: 50% 50%;
    text-decoration: none;
    justify-content: end;
    padding-right: 40px;
}

body{
    background-image: linear-gradient(to left,rgb(219, 194, 47),rgb(35, 202, 58));
     font-style: italic;
     padding: 50px;
}
label{
    color: brown;
    font-weight: bold;
    font-size: larger;
}
input{
    background-color: transparent;
    border: none;
    padding: 20px;
}
a{
    text-decoration: none;
    display: flex;
    float: right;
    grid-template-columns:50% 50%;
}
.content{
    display: flex;
    float: right;
    grid-template-columns:50% 50%;
    padding: 20px;
}
input{
    font-weight: 600;
    padding: 20px;
}
.main{
    display: grid;
    grid-template-columns:auto auto;
    grid-gap: 30px;

}
nav li{
    list-style: none;
    justify-content: space-around;
    padding-right: 90px;
}

